{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

    {#  Message flash de succès #}
    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}

    {#  Erreurs globales du formulaire (ex: CSRF, autres erreurs générales) #}
    {% if registrationForm.vars.errors|length > 0 %}
        <div class="form-errors">
            {{ form_errors(registrationForm) }}
        </div>
    {% endif %}

    {{ form_start(registrationForm) }}

    <div>
        {{ form_label(registrationForm.username) }}
        {{ form_widget(registrationForm.username) }}
        {{ form_errors(registrationForm.username) }}
    </div>

    <div>
        {{ form_label(registrationForm.firstName) }}
        {{ form_widget(registrationForm.firstName) }}
        {{ form_errors(registrationForm.firstName) }}
    </div>

    <div>
        {{ form_label(registrationForm.lastName) }}
        {{ form_widget(registrationForm.lastName) }}
        {{ form_errors(registrationForm.lastName) }}
    </div>

    <div>
        {{ form_label(registrationForm.birthDate) }}
        {{ form_widget(registrationForm.birthDate) }}
        {{ form_errors(registrationForm.birthDate) }}
    </div>

    <div>
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <div>
        {{ form_label(registrationForm.country) }}
        {{ form_widget(registrationForm.country) }}
        {{ form_errors(registrationForm.country) }}
    </div>

    <div>
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <button type="submit">Register</button>

    {{ form_end(registrationForm) }}
{% endblock %}
